node_modules
dist
.env
*.log
.DS_Store
*.tsbuildinfo
backend/src/identity/

.CLAUDE.md
.backend/docs/

.cursorrules
.cursorrules.md
.cursorrules.txt
.cursorrules.yml
.cursorrules.yaml
.cursorrules.json
.cursorrules.jsonc
.cursorrules.json5
.cursorrules.jsonp
.cursorrules.jsonp.md
.cursorrules.jsonp.txt